<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716165936197-v53brv1nlfj2b1r798k0ik52iji30i29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716165936197-v53brv1nlfj2b1r798k0ik52iji30i29</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Pm2J5lauCnvwntFl4GwBRStqkzPKYxY</string>
	<key>GCM_SENDER_ID</key>
	<string>716165936197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weddingPlannerManagement</string>
	<key>PROJECT_ID</key>
	<string>wedding-service-wss</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-service-wss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716165936197:ios:5bd691fb92920228521f2c</string>
	<key>DATABASE_URL</key>
	<string>https://wedding-service-wss-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>